<body>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      	<h1 class="display-4">The Gossip Project - Team</h1>
    </div>

    <div class="container">
      	<div class="card-deck mb-3 text-center">
        	<div class="card mb-4 shadow-sm">
          	<div class="card-header">
            	<h4 class="my-0 font-weight-normal">Baptiste GFY</h4>
          	</div>
          	<div class="card-body">
            	<h1 class="card-title pricing-card-title">Un future pirate</h1>
            	<ul class="list-unstyled mt-3 mb-4">
              		<li>THP - Session 10- Nantes</li>
              		<li>Age: 23 ans</li>
            	</ul>
          	</div>
        </div>
        <div class="card mb-4 shadow-sm">
          	<div class="card-header">
            	<h4 class="my-0 font-weight-normal">Cédric RENAUD</h4>
          	</div>
          	<div class="card-body">
            	<h1 class="card-title pricing-card-title">Un grand barbu</h1>
            	<ul class="list-unstyled mt-3 mb-4">
              		<li>THP - Session 10- Nantes</li>
              		<li>Age: 34 ans</li>
            	</ul>
          	</div>
        </div>
	</div>
</body>